---
import { basics } from '@cv'

const {name, location, phone, email} = basics
---
<section class="w-full text-center flex flex-col gap-2">
    <h1>{name}</h1>
    <p class="">{location.address}, {location.city}, {phone}, <span class="italic underline text-[#555]">{email}</span></p>
</section>