---
import { basics } from '@cv'

const {name, location, phone, email} = basics
---
<section class="w-full text-center flex flex-col gap-2">
    <h1>{name}</h1>
    <p class="text-[#1e1e1e]/70">{location.address}, {location.city}, {phone}, <span class="italic underline text-[#1e1e1e]">{email}</span></p>
</section>