---
    import Section from './Section.astro'
    import {work} from '@cv'
---

<Section title='Experiencia Laboral'>
    {work.map( (w, index)=> (
        <article class="grid grid-cols-12 gap-y-10 w-full col-span-12" id={`work-${index+1}`} >
            <p class="col-span-2 w-[20rem]">{w.date}</p>
            <div class="col-span-8 flex flex-col pl-20 gap-2 ">
                <h3>{w.position}, {w.company}</h3>
                <span class="flex flex-col">
                    {w.highlights.map(h => (
                        <p>{h}</p>
                    ))}
                </span>
                <div class="col-span-8 flex flex-col gap-2 mt-4">
                    <h3>Logro Clave</h3>
                    <span class="flex flex-col">
                        {w.attainment.map(a => (
                            <p>{a}</p>
                        ))}
                        <p class="italic">Ref.: {w.reference}</p>
                    </span>
                </div>
            </div>
            <p class="col-span-2 text-end ">{w.location}</p>
        </article>
    ))}
</Section>